.menu-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #c0c8d1;
}

.color-container {
  margin-right: 3em;
}
.color-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 194px;
}

.color-container .input-group {
  width: 100px;
}

.color-container .input-group .form-control,
.color-container .input-group-prepend {
  height: 25px;
  line-height: 1;
}

.color-container .input-group .form-control {
  font-size: 0.9em;
  padding: 1px 3px;
}

.color-container .form-control.is-invalid {
  background-image: none !important;
}
.color-button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 1px;
  text-align: center;
}

.color-button:hover {
  border: 2px solid black;
}

.color-button.selected {
  border: 3px solid black;
}

.color-header {
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.brush-header {
  margin-bottom: 5px;
  margin-right: 3em;
  text-align: center;
  color: #000;
  font-size: 20px;
}

#brush-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brush-button-container0 {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-bottom: 2px;
}

.brush-button-container0:hover {
  background-color: rgba(83, 83, 83, 0.529);
}

.brush-button-container1:hover {
  background-color: rgba(83, 83, 83, 0.529);
}

.brush-button-container2:hover {
  background-color: rgba(83, 83, 83, 0.529);
}

.brush-button-container1 {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}
.brush-button-container2 {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-bottom: 2px;
}

.brush-button {
  position: relative;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  box-shadow: 1px 0px 7px 0px grey;
  text-align: center;
}

.brush-button .selected {
  position: absolute;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid blue;
}
