#pongUIContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

#pongScoreContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.pongPlayerCard {
  position: relative;
  display: flex;
  justify-content: center;
}

.pongPlayerCard .card-body {
  padding: 0.25rem 0.5rem;
}

.pongPlayerCard .host {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  margin-left: 5px;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #007bff;
  padding: 2px 3px;
  border-radius: 5px;
  color: white;
}

.pongPlayerCard .card-title {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}
