.palette-wrapper {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.color-button {
  position: relative;
  border-radius: 5px;
  width: 65px;
  height: 45px;
  margin-top: 7px;
  box-shadow: 1px 0px 7px 0px grey;
  text-align: center;
}

.color-button .selected {
  position: absolute;
  right: -25px;
  width: 0;
  height: 0;
  margin: 10px 10px 0 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid blue;
}

.color-header {
  text-align: center;
  color: #000;
  font-size: 20px;
}
