.join-selector-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
}

.join-selector-option {
  background-color: skyblue;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.join-selector-option.selected {
  border: 2px solid blue;
  margin: 3px;
}
