.join-selector-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
}

.join-selector-option:first-of-type {
  border-radius: 5px 0px 0px 5px;
}

.join-selector-option:last-of-type {
  border-radius: 0px 5px 5px 0px;
}
