.main-page-wrapper .btn {
  font-weight: 500;
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in > div {
  margin-top: 10px;
}

#gameSelectorContainer {
  margin: 15px;
}
.carousel {
  border-radius: 30px;
  overflow: hidden;
}

.inputContainer {
  margin-top: 15px;
}
